<div class="page">
  <div class="page-layout">
    <div class="header-section">
      <h1>Kitty Toyz</h1>
    </div>
    <div class="menu-column">
      <button class="game-button" (click)="onGotoGame('resume')">
        Resume Game
      </button>
      <button class="game-button" routerLink="/gameboard">
        New Game
      </button>
      <button class="game-button">
        Options
      </button>
      <button class="game-button">
        Help
      </button>
      <button class="game-button">
        High Scores
      </button>
    </div>
  </div>
</div>
