<div class="page">
  <div class="page-layout">
    <div class="header-section">
      <h1 class="title-header">Kitty Toyz</h1>
    </div>
    <div class="menu-column">
      <button [disabled]=!canResume class="game-button" (click)="onGotoGame('resume')">
        Resume Game
      </button>
      <button class="game-button" routerLink="/gameboard">
        New Game
      </button>
      <button class="game-button" routerLink="/options">
        Options
      </button>
      <button class="game-button" routerLink="/help">
        Help
      </button>
      <button class="game-button" routerLink="/scores">
        High Scores
      </button>
    </div>
  </div>
</div>
