<div class="page">
  <div class="page-layout">
    <div class="header-section">
      <h1 class="title-header">Kitty Toyz - Options</h1>
    </div>
    <div class="menu-column">
      <button class="game-button">
        Music is Off/On
      </button>
      <button class="game-button">
        Sounds are Off/On
      </button>
      <button class="game-button">
        Tips are Off/On
      </button>
    </div>

    <div class="page-button-footer">
      <button class="game-button" routerLink="/mainmenu">
        Main Menu
      </button>
    </div>
  </div>
</div>
