.queue-layout {
  border: 1px solid grey;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.visible-queue {
  display: flex;
}

.queue-left {
  font-size: 40px;
  color: white;
  background-color: transparent;
  margin-right: 20px;
}
