.page-board {
  height: 100%;
  background-image: linear-gradient(#0E8FE6, #FFFFFF);
}

.game-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0px 40px 0px 40px;
}

.dummy-column {
  width: 210px;
}

.board-layout {
  height: 500px;
  width: 500px;
  border: 3px solid #9EE165;
  background-image: linear-gradient(#00944B, #B9E47E);
  border-radius: 10px;
  margin: auto;
  padding: 10px;
}

@media screen and (max-width: 600px){
  .game-display {
    flex-direction: column;
    margin: none;
  }

  .dummy-column {
    display: none;
  }

  .board-layout {
    margin: 10px 0px 10px 0px;
  }
}

@media screen and (max-width: 400px){
  .board-layout {
    margin: 5px 0px 5px 0px;
    height: 375px;
    width: 375px;
    border: 1px solid #9EE165;
    padding: 3px;
  }
  .game-square {
    height: 48px;
    width: 48px;
    cursor: pointer;
    border: 1px solid red;
    box-shadow: 0px 3px 3px -1px rgba(17,0,34,0.75) inset;
  }

}

.cursor-flower-style {
  background-color: transparent;
  z-index: 1000;
  position: absolute;
}

.game-rows {
  display: flex;
  flex-direction: column;
}

.game-row {
  display: flex;
  flex-direction: row;
}

.game-square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 65px;
  cursor: pointer;
  background-color: #4DB723;
  border: 3px solid #7ABA43;
  box-shadow: 0px 5px 5px -2px rgba(17,0,34,0.75) inset;
  border-collapse: collapse;
}

.notuseable {
  background-color: #666666;
  cursor: not-allowed;
}

:disabled {
  background-color: grey;
}
