<div class="page-board">
<app-header></app-header>
<app-flower-queue [flowers]="flowers"></app-flower-queue>
<div class="game-rows board-layout">
  <div class="game-row" *ngFor="let row of gameboard; let rowIndex = index">
    <div *ngFor="let square of row.row; let squareIndex = index">
      <div
        class="game-square"
        [ngClass]="{notuseable: !square?.useable}"
        (click)="onPlaceFlower(rowIndex, squareIndex)">
        <app-flower *ngIf="square.occupied" [innerColor]="square?.flower?.innerColor" [outerColor]="square?.flower?.outerColor"></app-flower>
      </div>
    </div>
  </div>
</div>
</div>
