.page {
  height: 100%;
  background-image: linear-gradient(#0E8FE6, #FFFFFF);
  padding-top: 10%;
}

.page-layout {
  height: 500px;
  width: 500px;
  display: flex;
  flex-direction: column;
  border: 3px solid #9EE165;
  background-image: linear-gradient(#00944B, #B9E47E);
  border-radius: 10px;
  margin: auto;
}

.header-section {
  font-size: large;
  display: flex;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 40px;
}

.title-header {
  color: white;
  font-size: 40px;
}

.game-button {
  height: 42px;
  width: 132px;
  margin-bottom: 10px;
  font-weight: bold;
  color: #0033CC;
  border: 1px solid #4F933D;
  border-radius: 10px;
  background-image: linear-gradient(#4ACAD1, #A6F0A4);
}

.page-button-footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
